* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input[type="text"],
input[type="number"] {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
::placeholder {
  font-size: smaller;
  text-align: center;
}

input:focus {
  transition: all 1s ease-in;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  flex-direction: column;
}

#feelabel {
  font-size: x-small;
}
.generate-btn {
  display: flex;
  flex-direction: column;
}
.logobg {
  background-color: white;
}
.parent-jumbotron {
  width: 60vw;
  height: 80vh;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wallet-main {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
}
#logo {
  border: 1px solid black;
}
.vertical-align-space{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.vertical-align {
  display: flex;
  flex-direction: column;
}
.horizontal-align {
  display: flex;
  flex-direction: row;
}

.accounts {
  display: flex;
  flex-direction: column;
  height: 40%;
  overflow: auto;
}

td {
  font-size: x-small;
}
#btn {
  font-size: x-small;
}

#btn-fixed {
}
